body {
    background-image: url("media/galaxy1.png");

}

sup { 
    vertical-align: super;
    font-size: smaller;
}

table {
    font-family: helvetica, sans-serif;
    border-collapse: collapse;
    width: 100%;
}

td {
    border: 1px solid #dddddd;
    text-align: left;
    padding: 8px;
	color: white;
}


th {
	background-color:rgba(85,26,139,0.3);
	color: white;
	font-size:26px;
}

h1{
	text-align:center;
	font-size:35px;
	color: white;
}
h4{
	text-align: center;
	font-family:"Century Gothic";
	color: white;
}

